.div1{
    border-width: 2px;
    /* border-radius: 50%; */
    padding: 25px;
    margin: 20px;
    font-size:50px;
    max-width: 100px;
    max-height: 100px;
    border-style: solid;
    border-color: black;
    background-color: blueviolet;
}
.divchild1{
    border-width: 2px;
    /* border-radius: 50%; */
    margin: auto;
    color: blanchedalmond;
    text-align: center;
    max-width: 120px;
    max-height: 70px;
    border-style: solid;
    border-color: black;
}
.div2{
    border-width: 2px;
    /* border-radius: 50%; */
    padding: 25px;
    margin: 20px;
    font-size:50px;
    max-width: 100px;
    max-height: 100px;
    border-style: solid;
    border-color: black;
    background-color: rgb(10, 156, 81);
    margin-left: 12%;
}
.divchild2{
    border-width: 2px;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
    color: blanchedalmond;
    text-align: center;
    max-width: 70px;
    max-height: 70px;
    border-style: solid;
    border-color: black;
}
.div3{
    border-width: 2px;
    border-radius: 50%;
    padding: 25px;
    margin: 20px;
    font-size:50px;
    max-width: 100px;
    max-height: 100px;
    border-style: solid;
    border-color: black;
    background-color: rgb(71, 222, 227);
    margin-left: 22%;
}
.divchild3{
    border-width: 3px;
    /* border-radius: 50%; */
    margin: auto;
    padding: 10px;
    border-style: dotted;
    color: blanchedalmond;
    text-align: center;
    max-width: 70px;
    max-height: 70px;
    border-color: black;
}
.div4{
    border-width: 3px;
    /* border-radius: 50%; */
    padding: 25px;
    margin: 20px;
    font-size:50px;
    border-style: dashed;
    max-width: 100px;
    max-height: 100px;
    /* border-style: solid; */
    border-color: black;
    background-color: rgba(227, 71, 154, 0.7);
    margin-left: 33%;
}
.divchild4{
    border-width: 2px;
    /* border-radius: 50%; */
    margin: auto;
    padding: 10px;
    border-style: dotted;
    color: blanchedalmond;
    text-align: center;
    max-width: 70px;
    max-height: 70px;
    border-style: solid;
    border-color: black;
}
.div5{
    border-width: 3px;
    /* border-radius: 50%; */
    padding: 25px;
    margin: 20px;
    font-size:50px;
    max-width: 100px;
    max-height: 100px;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: peru;
    margin-left: 44%;
}